.header{
  background-color: #13131F;
  width: 100%;
  height: 55px;
  color: #D7D6D8;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.config-icon{
  position: absolute;
  right: 15px;
  cursor: pointer;
}
